body{
    font-family: 'Righteous', cursive;
    background-color: black;
    height:400vh;
}
a{
    text-decoration: none;
    font-family: verdana;
}
h3{
    color:white;
    text-align: center;
    width: 40%;
    margin:100px auto 0px;
}